@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 531px;
            column-gap: 25px;
        }
        &__skills {
            column-gap: 15px;
            &-item {
                grid-template-columns: 40px 197px;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 25px;
            line-height: 32px;
        }
        &_fz64 {
            font-size: 54px;
            line-height: 67px;
        }
    }
    .promo {
        &__title {
            width: 720px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 35px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 540px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz64 {
            font-size: 29px;
            line-height: 32px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding: 110px 0 0 28px;
        }
        &__social {
            bottom: 25px;
        }
    }
    .promo {
        padding-top: 130px;
        &__title {
            padding-top: 10px;
            width: 100%;
        }
        &__subtitle {
            &:before {
                top: -45%;
                width: 55px;
                height: 55px
            }
        }
        &__btns {
            width: 270px;
            margin-top: 40px;
        }
    }
    .about {
        &__wraooer {
            grid-template: 340px auto auto / 1fr; 
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
}