@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 531px;
            column-gap: 25px;
        }
        &__skills {
            column-gap: 15px;
            &-item {
                grid-template-columns: 40px 197px;
            }
        }
    }
    .experience {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 25px;
            line-height: 32px;
        }
        &_fz64 {
            font-size: 54px;
            line-height: 67px;
        }
    }
    .promo {
        &__title {
            width: 720px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 35px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .experience {
        &__wrapper {
            grid-template-columns: repeat(2, 320px);
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 35px;
            width: 600px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__img {
            margin: 15px;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: repeat(auto-fit, 320px);
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title {
        &__section-subtitle {
            line-height: 40px;
        }
    }
    .promo {
        &__title {
            width: 540px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
            }
        }
    }
    .experience {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            width: 400px;
        }
        &__ratings {
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz24 {
            font-size: 17px;
        }
        &_fz64 {
            font-size: 29px;
            line-height: 35px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding: 110px 0 0 28px;
        }
        &__social {
            bottom: 25px;
        }
    }
    .promo {
        padding-top: 130px;
        &__title {
            padding-top: 10px;
            width: 100%;
        }
        &__subtitle {
            &:before {
                top: -20%;
                width: 36px;
                height: 36px
            }
        }
        &__btns {
            width: 270px;
            margin-top: 40px;
        }
    }
    .about {
        &__wraooer {
            grid-template: 340px auto auto / 1fr; 
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .experience {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .skills {
        &__wrapper {
            width: 300px;
        }
        &__ratings {
            margin-top: 40px;
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
}